header {
	background-color: #524C4C;
	width: 100%;
	margin:0 auto;
	padding:2% 0;
}

.menu {
	text-decoration: none;
	color: white;
	font-family: Arial;
	font-size: 13px;
	margin: 2% 1%;
	padding: 2% 1%;
	display: inline-block;
}

h3{
	display: inline-block;
	margin-bottom: 2%;
}

.gris {
	background-color: #E8E8E8;
	width: 100%;
	padding: 2% 1%;
	border-bottom: 1px solid #E9E9E9;
}

.foto-grande {
	padding: 1%;
	margin-top: 3%;
	border:4px solid white;
	width: 100%;
	box-shadow: 0 1px 1px 0 ;
}

.link {
	padding:1%;
	text-decoration: none;
	font-weight: bold;
	font-family: Arial;
	color: blue;
	font-size: 18px;
	text-align: center;
}

.chicas {
	margin: 2% auto;
	padding: 2%;
}

.foto-chica {
	text-align: center;
	width: 19.5%;
	margin: 1% auto;
	border:4px solid white;
	width: 100%;
	box-shadow: 0 1px 1px 0 ;	
}

.sidebar {
	margin: 3% auto;
	padding: 1% 1% 1% 3%;
}

.sidebar .row{
	padding-top: 9%;
}

.sidebar h3{
	color:#5d5959;
	border-bottom: 2px solid #E9E9E9;
	display: block;
	margin-left: 1%;
	margin-top: 1%;
	line-height:2;  
}

.sidebar img{
	width: 15px;
	display: inline-block;
}

.parrafo {
	padding-top: 9%;
	border-top: 2px solid #E9E9E9;
}

.footer-a {
	text-anchor: center;
	margin: 1%;

}